<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_HERE"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %><%= saludo %></p>
  </body>
</html>
